/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


a {
    text-decoration: none;
    color: #333
}

a:hover {
    color: #2980b9;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Form Styles */
form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Button and Link Styles */
button,
a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

button:hover,
a:hover {
    background-color: #0056b3;
}

/* Flash Messages */
.flash {
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
    text-align: center;
}

.flash.success {
    background-color: #28a745;
    color: white;
}

.flash.danger {
    background-color: #dc3545;
    color: white;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}
